trunk/dsis/scheme/Scheme.Objects/resources/IntArray.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="urn:shemas-dsis-org:double-array"
           elementFormDefault="qualified"
           xmlns="urn:shemas-dsis-org:double-array"
           xmlns:mstns="urn:shemas-dsis-org:double-array"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="XsdLongArray">
    <xs:sequence>
      <xs:element name="Value" type="xs:long" maxOccurs="unbounded"/>
    </xs:sequence>    
  </xs:complexType>
  <xs:element name="Long-Array" type="XsdLongArray"/>
</xs:schema>
