trunk/dsis/src/Scheme.Objects/resources/DoubleArray.xsd

<?xml version="1.0" encoding="utf-8" ?>
<xs:schema targetNamespace="urn:shemas-dsis-org:double-array"
           elementFormDefault="qualified"
           xmlns="urn:shemas-dsis-org:double-array"
           xmlns:mstns="urn:shemas-dsis-org:double-array"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:complexType name="XsdDoubleArray">
    <xs:sequence>
      <xs:element name="Value" type="xs:double" maxOccurs="unbounded"/>
    </xs:sequence>    
  </xs:complexType>
  <xs:element name="Double-Array" type="XsdDoubleArray"/>
</xs:schema>
